.main_content {
  font-family: "Gantari";
}
.Main_About_us {
  width: 100%;
  /* height: 100vh; */
  min-height: 500px;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: #ffffff;
  /* background-size: contain; */
}
.ovr {
  position: relative;
  padding: 3.5rem;
}
.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.2;
}

.breadcrumb {
  font-size: 1.125rem;
  color: #ddd;
  font-family: "Poppins";
}
@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }
  .ovr {
    padding: 2rem;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }
  .ovr {
    padding: 1.5rem;
  }
  .breadcrumb {
    font-size: 1rem;
  }
}
