.main_content {
  font-family: "Gantari";
}
.Main_About_us {
  width: 100%;
  min-height: 500px;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: #ffffff;
  /* background-size: contain; */
}
.ovr {
  position: relative;
  padding: 3.5rem;
}
.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.2;
}

.breadcrumb {
  font-size: 1.125rem;
  color: #ddd;
  font-family: "Poppins";
}
