.main_content {
  font-family: "Gantari";
}
.Main_About_us {
  width: 100%;
  min-height: 550px;
  height: auto;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: #ffffff;
}
.ovr {
  padding: 3.5rem;
}
.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.breadcrumb {
  font-size: 18px;
  color: #ddd;
  font-family: "Poppins";
}
