.Asked_Main {
  background-color: #000;
  text-align: center;
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#Ans {
  border-radius: 30px;
  display: inline-block;
  border: 1px solid #fff;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}
.Asked_head {
  font-size: 2.2rem;
  font-weight: 600;
}
.freq_down_part {
  /* background-color: aquamarine; */
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}
.freq_list_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 5rem;
  /* background-color: aquamarine; */
}
.freq_list {
  padding: 15px;
  border-bottom: 1px solid #444; /* like Figma separator line */
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  transition: all 0.3s ease;
}
.freq_question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
.freq_question span {
  /* background-color: bisque; */
  font-size: 1.9rem;
  font-weight: 600;
}

.freq_answer {
  margin-top: 10px;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 400;
  line-height: 100%;
  color: #ccc;
  line-height: 1.5;
  animation: fadeIn 0.3s ease-in-out;
}
.icon {
  font-size: 1.5rem;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.freq_img img {
  width: 100%;
  height: auto;
  width: 30vw;
  min-height: 70vh;
  max-width: 100%; /* responsive */
  border-radius: 12px;
  object-fit: cover;
}
@media (min-width: 1400px) {
  .Asked_head {
    font-size: 1.9rem;
    font-weight: 200;
  }
  .freq_down_part {
    display: flex;
    flex-direction: row;
  }

  .freq_question span {
    font-size: 1.6rem;
    font-weight: 300;
  }
}
@media (max-width: 1400px) {
  .Asked_head {
    font-size: 1.9rem;
    font-weight: 200;
  }
  .freq_down_part {
    display: flex;
    flex-direction: row;
  }
  .freq_img img {
    /* width: 100%; */
    margin-top: 3rem;
    width: 40vw;
    min-height: 40vh;
  }
  .freq_question span {
    font-size: 1.6rem;
    font-weight: 300;
  }
}
@media (max-width: 1200px) {
  .Asked_head {
    font-size: 1.7rem;
    font-weight: 200;
  }
  .freq_down_part {
    display: flex;
    flex-direction: row;
  }
  .freq_img img {
    /* width: 100%; */
    margin-top: 3rem;
    width: 40vw;
    min-height: 40vh;
  }
  .freq_question span {
    font-size: 1.3rem;
    font-weight: 300;
  }
}
@media (max-width: 1024px) {
  .Asked_head {
    font-size: 1.3rem;
    font-weight: 200;
  }
  .freq_down_part {
    display: flex;
    flex-direction: row;
  }
  .freq_img img {
    /* width: 100%; */
    margin-top: 3rem;
    width: 40vw;
    min-height: 40vh;
  }
  .freq_question span {
    font-size: 1rem;
    font-weight: 300;
  }
}
@media (max-width: 992px) {
  .Asked_head {
    font-size: 1.3rem;
    font-weight: 200;
  }
  .freq_down_part {
    display: flex;
    flex-direction: row;
  }
  .freq_img img {
    /* width: 100%; */
    margin-top: 3rem;
    width: 40vw;
    min-height: 40vh;
  }
  .freq_question span {
    font-size: 1rem;
    font-weight: 300;
  }
}
@media (max-width: 768px) {
  .Asked_head {
    font-size: 1.3rem;
    font-weight: 200;
  }
  .freq_down_part {
    display: flex;
    flex-direction: column;
  }
  .freq_img img {
    /* width: 100%; */
    width: 50vw;
    /* height: 50vh; */
  }
  .freq_question span {
    font-size: 1.3rem;
    font-weight: 300;
  }
}
@media (max-width: 576px) {
  .Asked_head {
    font-size: 1.3rem;
    font-weight: 200;
  }
  .freq_down_part {
    display: flex;
    flex-direction: column;
  }
  .freq_img img {
    width: 100%;
    min-height: 30vh;
  }
  .freq_question span {
    font-size: 1.3rem;
    font-weight: 300;
  }
}
@media (max-width: 480px) {
  .Asked_head {
    font-size: 1.3rem;
    font-weight: 200;
  }
  .freq_down_part {
    display: flex;
    flex-direction: column;
  }
  .freq_img img {
    width: 100%;
    min-height: 30vh;
  }
  .freq_question span {
    font-size: 1rem;
    font-weight: 300;
  }
}
