
.Mission {
  background-color: #000000;
  color: #fff;
  margin: 5rem 0;
  margin-top: 20px;
}
#promise {
  border: 1px solid #fff;
  border-radius: 30px;
  display: inline-block;
  padding: 0.4em 0.7em;
}
.bld_M {
  width: 30%;
  font-weight: 600;
  font-size: 2rem;
}
.Mission_Down_part {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 3rem;
}
.ph {
  flex: 0 0 40%;
}

.ph img {
  width: 100%;
  height: auto;
  display: block;
  margin: 2rem 0;
  /* padding: 0.8rem; */
}
.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 3rem;
}
.thr_label {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center; /* vertically align */
  /* width: auto; */
  /* width: 50%; */
}
/* #msn {
  border: 1px solid #fff;
  border-radius: 30px;
  width: 10%;
  display: inline-block;
} */
#msn {
  border: 1px solid #fff;
  border-radius: 30px;
  display: inline-block;
  padding: 0.4rem 0.7rem;
  font-size: 16px;
  margin: 0;
  line-height: 1.2;
  cursor: pointer;
  background: transparent;
  background-color: #fff;
  color: #000000;
}
.Trust h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.Trust p {
  font-family: "Poppins";
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0.8rem;
  color: #ccc; /* as per your figma */
  width: 50%;
}
