.Mission {
  background-color: #000000;
  color: #fff;
  margin: 5rem 0;
  margin-top: 20px;
  padding: 2rem;
}

#promise {
  border: 1px solid #fff;
  border-radius: 30px;
  display: inline-block;
  padding: 0.4em 0.7em;
  font-size: 1rem;
}

.bld_M {
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 1rem;
  width: 100%;
}

.Mission_Down_part {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-top: 3rem;
}

.ph {
  flex: 0 0 40%;
}

.ph img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.thr_label {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

#msn {
  border: 1px solid #fff;
  border-radius: 30px;
  display: inline-block;
  padding: 0.4rem 0.7rem;
  font-size: 16px;
  margin: 0;
  line-height: 1.2;
  cursor: pointer;
  background: transparent;
  background-color: #fff;
  color: #000000;
}

.Trust h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.Trust p {
  font-family: "Poppins";
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0.8rem;
  color: #ccc;
}
@media (max-width: 1400px) {
  .bld_M {
    font-size: 2.2rem;
    /* background-color: aqua; */
  }
  .Mission_Down_part {
    gap: 2rem;
  }
  .Trust {
    margin-top: 0rem;
  }
  .Trust h1 {
    font-size: 1.5rem;
    /* background-color: aqua; */
  }
  .ph img {
    width: 40vw;
    height: 30vh;
  }
}

@media (max-width: 992px) {
  .Mission_Down_part {
    flex-direction: column;
  }
  .ph {
    flex: 0 0 100%;
  }
  .ph img {
    width: 100%;
    height: auto;
  }
  .right-section {
    margin-top: 2rem;
  }
  .bld_M {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .thr_label {
    gap: 0.5rem;
  }
  #msn {
    padding: 0.2rem 0.4rem;
    font-size: 14px;
  }
  .Trust h1 {
    font-size: 1.5rem;
  }
  .Trust p {
    font-size: 0.9rem;
  }
}
@media (max-width: 576px) {
  .bld_M {
    font-size: 1.8rem;
  }
  #promise {
    font-size: 0.8rem;
  }

  #msn {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 480px) {
  .bld_M {
    font-size: 1.4rem;
  }
  #promise {
    font-size: 0.8rem;
  }
  .thr_label {
    gap: 0.5rem;
  }
  #msn {
    padding: 0.2rem 0.4rem;
    font-size: 14px;
  }
  .Trust h1 {
    font-size: 1.5rem;
  }
  .Trust p {
    font-size: 0.9rem;
  }
}
