.P_Main {
  background-color: #fff;
  color: #000;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.P_Main P {
  border: 1px solid #000;
  display: inline-block;
  border-radius: 30px;
  font-size: 1rem;
  /* background-color: aqua; */
  font-weight: 500;
  padding: 0.5rem;
}
.P_Main h1 {
  display: block;
  font-size: 2.2rem;
  font-weight: 600;
}
.par_img {
  display: flex;
  flex-direction: row;
}
.sld {
  display: flex;
  /* background-color: aqua; */
  justify-content: center;
  align-items: center;
  margin: 0;
}
.sld img {
  width: 50%;
  height: auto;
  margin: 0 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  align-items: center;
}

.P_Main .slick-dots li button:before {
  color: #000; /* black dots */
  opacity: 0.6;
}
.P_Main .slick-dots li.slick-active button:before {
  color: #d94e38; /* your theme red/orange */
  opacity: 1;
}
@media (max-width: 480px) {
  .P_Main h1 {
    font-size: 1.3rem;
  }
  .sld img {
    width: 70%;
    height: auto;
    background-color: aqua;
  }
}
