.Team_Main {
  background-color: #000;
  text-align: center;
  color: #fff;
  margin-top: 4rem;
  padding: 4rem;
}
#tem {
  display: inline-block;
  border-radius: 30px;
  border: 1px solid #fff;
  padding: 0.2rem 0.7rem;
}
.pht_sld {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
/* .overlay_b {
  flex: 0 1 220px;
} */
.overlay_b {
  position: relative;
  min-height: 320px;
  /* width: 250px; */
  /* fixed card width */
  /* height: 350px; */
  margin-top: 4rem;
  padding: 0.5rem;
  gap: 2rem;
  overflow: hidden;
}
.overlay_b img {
  width: 100%;
  height: 400px;
  /* height: auto; */
  /* height: 100%; */
  /* padding: 2rem; */
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(16, 145, 102, 0.15);
}
.hvr {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #00000080;
  padding: 10px 10px;
  border-radius: 10px;
  opacity: 0;
  width: 70%;
  height: 20%;
  transform: translateY(20px);
  transition: all 0.3s ease;
  font-family: "Gantari";
  text-align: start;
}

/* show overlay on hover */
.overlay_b:hover .hvr {
  opacity: 1;
  transform: translateY(0);
}

.hvr p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
}

.hvr h1 {
  margin: 5px 0 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
}
