.about-section {
  background-color: white;
  /* background-color: yellow; */
  /* padding: 100px 0; */
  /* padding-top: 100px; */
  margin-bottom: 5%;
  width: 100%;
}

/* .about-container {
  display: flex;
  flex-wrap: wrap; */
/* flex-direction: column; */
/* align-items: stretch; */
/* justify-content: space-between; */
/* margin: auto; */
/* justify-content: center;
  gap: 50px; */
/* margin: 0 auto; Center the container */
/* } */
/* .about-content {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Gantari", sans-serif; */
/* margin-bottom: 55%; */
/* } */
.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 0 auto;
}

.about-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Gantari", sans-serif;
}
.about-label {
  display: inline-block;
  padding: 0.3em 0.9em;
  background-color: #f2f2f2;
  border: 1px solid #000;
  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
}
.about-content h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.about-btn {
  background-color: #d16751;
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
}

.numb {
  /* margin-top: 55%; */
  display: flex;
  gap: 3rem;
  /* margin-top: 30px; */
  margin-top: 2rem;
  font-weight: 700;
  font-size: 1.25rem;
  width: 100%; /* takes available space */
  /* max-width: 600px; */
}
/* #cp {
  font-size: 20px;
  font-family: "Gantari";
  font-weight: 500;
  line-height: 100%;
  color: #000000;
  width: 169px;
  height: 48px;
} */
.numb > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* or center if you want centered text */
}
.numb h1 {
  margin: 0;
  font-size: 3.5rem; /* adjust to match Figma */
  font-weight: 900;
  color: #000;
  line-height: 1.2;
  font-weight: bolder;
}
#cp {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 0.5rem;
  line-height: 1.4;
  font-family: "Gantari";
}
/* .about-image {
  display: flex; /* Add this 
} */
/* .about-image img { */
/* height: 100%; Changed from fixed height to 100% */
/* height: auto;
  max-width: 590px; */
/* width: 100%; Changed from fixed width to 100% */
/* object-fit: cover; Add this to maintain aspect ratio */
/* border-radius: 10px; */
/* } */
.about-image {
  display: flex;
  justify-content: center;
}

.about-image img {
  /* height: 840px; */
  height: 70vh;
  width: 100%;
  max-width: 570px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 5%;
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }
  .numb {
    justify-content: center;
  }
  .numb > div {
    align-items: center;
  }
}
/* Responsive adjustments */
@media (min-width: 769px) {
  .numb {
    margin-top: 4rem; /* Larger margin for desktop */
  }
}
