.about-section {
  background-color: white;
  padding: 100px 0;
}

.about-container {
  display: flex;
  /* align-items: center; */
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 50px;
}
.about-content {
  flex: 1;
  font-family: "Gantari", sans-serif;
  /* margin-bottom: 55%; */
}

.about-label {
  display: inline-block;
  padding: 5px 15px;
  background-color: #f2f2f2;
  border: 1px solid #000;
  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 20px;
}
.about-content h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.about-btn {
  background-color: #d16751;
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
}

.numb {
  display: flex;
  gap: 48px;
  /* margin-top: 30px; */
  margin-top: 57%;
  font-weight: 700;
  font-size: 20px;
  height: 118px;
  width: 609px;
}
#cp {
  font-size: 20px;
  font-family: "Gantari";
  font-weight: 500;
  line-height: 100%;
  color: #000000;
  width: 169px;
  height: 48px;
}

.about-image img {
  width: 30%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
  }
}
