.main_chs {
  margin-top: 80px;
  background-color: #ffffff;
  text-align: center;
  padding: 0 20px;
  width: 100%;
}

.label_chs {
  display: inline-block;
  font-family: "Gantari", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 30px;
  color: #000000;
  padding: 6px 20px;
}

.head_chs {
  max-width: 516px;
  height: 84px;
  margin: 10px auto 40px;
  font-family: "Gantari", sans-serif;
  color: #000000;
}

.content_chs1 {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.img_chs img {
  height: auto;
  max-width: 500px;
  border-radius: 10px;
  width: 100%;
  text-align: start;
}
.features_chs {
  width: 50%;
}
.text_chs {
  /* background-color: aqua; */
  /* width: 20%; */
}
.part_exp img {
  width: 65px;
  /* background-color: rebeccapurple; */
  text-align: start;
}
.part_exp {
  width: 732px;
  display: flex;
  gap: 20px;
  margin: 15px;
  padding: 10px;
}
.head_exp {
  font-weight: 500;
  font-family: "Gantari";
  font-size: 20px;
  line-height: 100%;
}
.exp {
  display: flex;
}
.exp_para {
  margin: 32px;
  width: 361px;
  height: 48px;
  background-color: aqua;
  text-align: start;
  /* margin: 20px; */
}
/* Responsive */
@media (max-width: 768px) {
  .content_chs1 {
    flex-direction: column;
    align-items: center;
  }
}
