.main_chs {
  margin-top: 80px;
  background-color: #ffffff;
  text-align: center;
  padding: 0 20px;
}

.label_chs {
  display: inline-block;
  font-family: "Gantari", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 30px;
  color: #000000;
  padding: 6px 20px;
}

.head_chs {
  max-width: 600px;
  margin: 10px auto 40px;
  font-family: "Gantari", sans-serif;
  color: #000000;
}

.content_chs1 {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.img_chs img {
  height: auto;
  max-width: 500px;
  border-radius: 10px;
  width: 100%;
}

.text_chs {
  margin-top: 20px;
}

.exp {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.exp img {
  width: 48px;
  height: 48px;
}

.head_exp {
  font-size: 20px;
  font-family: "Gantari", sans-serif;
  margin: 0;
  color: #000000;
}

.exp_para {
  max-width: 300px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #383838;
  margin-top: 4px;
  text-align: start;
}

/* Responsive */
@media (max-width: 768px) {
  .content_chs1 {
    flex-direction: column;
    align-items: center;
  }
}
