.Feed_main {
  width: 100%;
  background-color: #ffffff;
  padding: 80px 0;
  text-align: center;
  /* background-color: aqua; */
}
#feed_para {
  /* background-color: aqua; */
  width: fit-content;
  height: 30px;
  font-family: "Gantari";
  text-align: center;
  padding: 0px 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #000000;
  margin: 0 auto;
}
#head_para {
  font-family: "Gantari";
  font-weight: 600;
  font-size: 35px;
  line-height: 100%;
  color: #000000;
}
.feedback-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.card {
  border: 2px solid #999999;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  height: 200 px;
  text-align: left;
}
.card img {
  border-radius: 50%;
  /* background-color: red; */
  width: 50px;
  height: 50px;
}
.rating {
  color: #ffd700;
}
.in_line {
  display: flex;
  gap: 10px;
}
