.Main_Footer_class {
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  padding: 60px 10%;
  color: white;
  /* background-color: aqua; */
}
.Footer_Logo {
  /* background-color: aqua; */
  flex: 1;
  max-width: 250px;
  /* width: 10%; */
  /* background-color: aqua; */
  padding: 18px;
  margin-left: 10%;
}
.Footer_Logo img {
  /* width: 20%; */
  /* max-width: 80px; */
  /* width: 100px; */
  width: clamp(100px, 15%, 100px);
  height: auto;
  margin-bottom: 10px;
}
#foot_para {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Poppins";
  /* background-color: aqua; */
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 15px;
  flex-wrap: nowrap;
}

.social-icons a {
  color: white;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ff6600; /* highlight color */
}
.Footer_column {
  min-width: 200px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  /* background-color: aqua; */
}
.Footer_nav {
  /* background-color: aqua; */
  color: #ffffff;
}
.footer-heading {
  font-weight: bold;
  margin-bottom: 15px;
}
.Footer_nav ul,
.Footer_column ul {
  list-style: none;
  padding: 0;
}
.Footer_column ul li,
.Footer_nav ul li {
  padding: 10px 0;
}
.Footer_column ul li {
  /* background-color: crimson; */
  padding: 10px;
}
.Footer_nav ul li {
  gap: 20px;
  padding: 10px;
}
.Footer_nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
.Footer_nav ul li a.active,
.Footer_nav ul li a:hover {
  color: #d16751;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.footer-contact li {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.footer-contact p {
  width: 158px;
  margin: 0;
}
