body {
  overflow-x: hidden;
  margin: 0;
}
.main_header {
  /* width: 90%; */
  width: 100%;
  background-color: #fff;
  /* background-color: aqua; */
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.Header_logo_class img {
  max-width: 180px;
  height: auto;
  width: 48px;
}

/* .logo {
  background-color: aqua;
  color: black;
} */
/* .container { */
/* width: 90%; */
/* max-width: 1200px; change kariyu hatu */
/* max-width: 1740px; */
/* margin: 0 auto; */
/* } */
.container {
  max-width: 1440px;
  width: 100%;
  /* background-color: aqua; */
  margin: 0 auto; /* Center the container */
  padding: 0 20px; /* Add padding to account for edges on smaller screens */
}
.header_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  /* background-color: aqua; */
  margin: 0;
  flex-wrap: wrap;
  /* padding: 0; */
}

.nav ul li a {
  text-decoration: none;
  font-family: "Gantari", sans-serif;
  color: black;
  font-weight: 500;
}

.nav ul li a.active,
.nav ul li a:hover {
  color: #d16751;
}
.toggle_menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
  /* background-color: aqua; */
  margin-left: auto;
}
@media (max-width: 480px) {
  .Header_logo_class img {
    max-width: 120px; /* even smaller for very small phones */
  }
}
@media (max-width: 768px) {
  .Header_logo_class img {
    max-width: 140px;
    color: aqua;
  }
  .nav {
    display: none;
    width: 100%;
  }
  .nav.active {
    display: block;
  }
  .toggle_menu {
    display: block;
  }
  .nav ul {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }
}
