.home-section {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 100vh; */
  /* height: 700px; */
  /* height: 900px; */
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 4rem;
  box-sizing: border-box;
}

.home_content {
  max-width: 500px;
  color: white;
  font-family: "Gantari", sans-serif;
  /* margin-left: 4%; */
}

.home_content h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 600;
  margin-bottom: 15px;
}

.home_content p {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  margin: 20px 0;
  margin-bottom: 25px;
}

.home_content button {
  background-color: #d16751;
  border: none;
  padding: 14px 30px;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

.home_content button:hover {
  background-color: #b45643;
}

@media (max-width: 768px) {
  .home_content {
    margin-left: 0;
  }
  .home-section {
    padding: 0 1rem;
  }
}
@media (max-width: 480px) {
  .home_content {
    max-width: 100%; /* use full width */
    text-align: center; /* center align on mobile */
  }
  .home_content h1 {
    font-size: 1.8rem;
  }
  .home_content p {
    font-size: 0.95rem;
  }
  .home_content button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}
