.latest-news {
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 5%;
}
#news {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  height: auto;
  font-family: "Gantari";
  font-weight: 500;
  font-size: 16px;
  color: #000;
  line-height: 100%;
  border-radius: 30px;
  border: 1px solid #000;
  padding: 5px 10px;
}
#news_para {
  font-family: "Gantari";
  font-weight: 600;
  font-size: 35px;
  line-height: 100%;
  color: #000;
}
.news_img {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.Transformative_Approaches img,
.Modern img,
.top img {
  width: 380px;
  height: 250px;
}
.content_news {
  font-family: "Gantari";
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #000;
}
#h {
  /* color: #dddddd; */
  color: aqua;

  /* background-color: aqua; */
}
