.latest-news {
  width: 100%;
  background-color: #fff;
  margin-bottom: 5%;
  text-align: center;
  margin-top: 5%;
  padding: 15px 110px;
}
#news {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  height: auto;
  font-family: "Gantari";
  font-weight: 500;
  font-size: 16px;
  color: #000;
  line-height: 100%;
  border-radius: 30px;
  border: 1px solid #000;
  padding: 5px 10px;
}
#news_para {
  font-family: "Gantari";
  font-weight: 600;
  font-size: 35px;
  line-height: 100%;
  color: #000;
}
.news_img {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.Transformative_Approaches img,
.Modern img,
.top img {
  width: 380px;
  height: 250px;
}
.content_news {
  font-family: "Gantari";
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #000;
  /* text-align: start; */
}
#h {
  color: #dddddd;
  /* color: aqua; */
  border: 1px solid #dddddd;

  background-color: aqua;
}
#state {
  /* background-color: aqua; */
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  width: 320px;
  height: auto;
  /* margin: 0; */
  margin: 0 0 10% 0;
  text-align: start;
}
.Transformative_Approaches,
.Modern,
.top {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 30px;
  height: auto;
  /* background-color: aqua; */
  /* justify-content: space-between; */
  text-align: justify;
}
