.main_our {
  background-color: #000000;
  /* margin-top: 60px; */
  /* margin-bottom: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* background-color: aqua; */
  margin-top: 10px;
}
.our_project {
  width: 100%;
  /* max-width: 1200px; no fixed width */
  margin: 0 auto;
  height: auto; /* let content decide */
  padding: 0 20px; /* optional inner padding */
  box-sizing: border-box;
  margin-bottom: 5%;
}
.imge {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* responsive */
  /* justify-content: space-evenly; */
  /* justify-content: center; */
  /* align-items: center; */
}
.imge img {
  width: 500px;
  height: 550px;
  border-radius: 10px;
  gap: 10px;
}

.imge img:hover {
  background-color: #ffffff;
}
.content_p {
  width: 85%;
  margin-top: 4%;
}
#para_our {
  font-family: "Gantari";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 6px 20px;
  border-radius: 30px;
  /* width: 100px; */
  /* height: 20px; */
  display: inline-block;
}
#head_our {
  /* background-color: aqua; */
  font-family: "Gantari";
  font-weight: 600;
  font-size: 40px;
  color: #ffffff;
  line-height: 100%;
  vertical-align: middleF;
}
.image-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  flex: 1 1 300px; /* responsive card width */
}

.image-card img {
  width: 100%; /* take full width of parent */
  height: auto;
  /* width: 500px;
  height: 550px; */
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

/* hidden hover box */
.overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  position: absolute;
  bottom: 20px;
  left: 20px;
  /* left: 10%; */

  /* background: #fff; */
  background-color: #ffffff;
  /* background-color: aqua; */
  padding: 10px 20px;
  border-radius: 10px;
  opacity: 0;
  width: 70%;
  /* width: 80%; */
  height: 20%;
  /* width: 50%;*/
  /* height: auto; */
  transform: translateY(20px);
  transition: all 0.3s ease;
}

/* show overlay on hover */
.image-card:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

.overlay p {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}

.overlay h3 {
  margin: 5px 0 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}
.arr {
  display: inline-block;
  transform: rotate(-45deg);
  color: #d16751;
  /* background-color: aqua; */
}
