.main_our {
  width: 100%;
  background-color: #000000;
  /* margin-top: 60px; */
  /* margin-bottom: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  box-sizing: border-box;
}
.our_project {
  width: 100%;
  max-width: 1200px; /* no fixed width */
  margin: 0 auto;
  height: auto; /* let content decide */
  padding: 0 20px; /* optional inner padding */
  box-sizing: border-box;
}
.imge {
  display: flex;
  gap: 10px;
}
.imge img {
  padding: 10px;
  width: 450px;
  height: 450px;
  border-radius: 10px;
  gap: 10px;
}
.content_p {
  width: 85%;
  margin-top: 4%;
}
#para_our {
  font-family: "Gantari";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 6px 20px;
  border-radius: 30px;
  width: 100px;
  height: 20px;
}
#head_our {
  /* background-color: aqua; */
  font-family: "Gantari";
  font-weight: 600;
  font-size: 35px;
  color: #ffffff;
  line-height: 100%;
  vertical-align: middleF;
}
