.main_our {
  width: 100%;
  background-color: #000000;
  /* margin-top: 60px; */
  /* margin-bottom: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_p {
  width: 85%;
  margin-top: 4%;
}
#para_our {
  font-family: "Gantari";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 6px 20px;
  border-radius: 30px;
  width: 100px;
  height: 20px;
}
#head_our {
  /* background-color: aqua; */
  font-family: "Gantari";
  font-weight: 600;
  font-size: 35px;
  color: #ffffff;
  line-height: 100%;
  vertical-align: middleF;
}
