.services_main {
  text-align: center;
  padding: 50px 0;
  background-color: #000000;
  color: #fff;
  width: 100%;
}

.our_s {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 6px 16px;
  font-family: "Gantari", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.services_title {
  margin: 20px 0 40px;
  font-family: "Gantari", sans-serif;
}

.service_card {
  padding: 20px;
  margin: 20px;
}

.item_card {
  background: #fff;
  /* margin: 5%; */
  margin: 0 10px;
  /* background-color: aqua; */
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  /* width: 350px;
  height: 350px; */
  width: 100%;
  max-width: 300px; /* instead of fixed 350px */
  height: auto; /* let content decide */
  min-height: 320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  margin: auto;
}

.logo img {
  width: 65px;
  height: 90px;
  object-fit: contain;
}

.service_content {
  margin-top: 10%;
}

.gen {
  font-size: clamp(1rem, 1.2vw, 1.4rem);
  margin: 0 0 10px;
  color: #000000;
  font-weight: 600;
  text-align: start;
  /* background-color: yellow; */
}

.service_p {
  font-size: clamp(0.9rem, 1vw, 1rem);
  color: #383838;
  font-weight: 400;
  font-family: "Poppins";
  text-align: start;
  width: 238px;
  height: 72px;
  /* line-height: 100%; */
  /* background-color: aqua; */
}
.logo img {
  width: 70px;
  height: auto;
}

.explore {
  display: flex;
  margin-top: 30px;
  color: #d16751;
  text-decoration: none;
  font-weight: 500;
  text-align: start;
  font-size: 1rem;
  /* width: 238px; */
}

.explore:hover {
  /* text-decoration: underline; */
  color: #000000;
}

.arrow {
  margin-left: 5px;
  transform: rotate(-45deg);
}
/* Position dots below slider */
.slick-dots {
  bottom: -35px; /* push below cards */
}

/* Dot size */
.slick-dots li button:before {
  font-size: 12px;
  color: #fff; /* make visible on black background */
  opacity: 0.6;
}

/* Active dot */
.slick-dots li.slick-active button:before {
  color: #d16751; /* your theme color */
  opacity: 1;
}
.explore:hover .arrow {
  transform: translateX(5px) rotate(-45deg);
  transition: 0.3s ease;
}

/* Responsive */
@media (max-width: 768px) {
  .services_main {
    padding: 20px;
  }
}
@media (max-width: 480px) {
  .logo img {
    width: 36px;
    max-height: 36px;
  }
}
