.services_main {
  text-align: center;
  padding: 50px 20px;
  background-color: #000000;
  color: #fff;
  width: 100%;
}

.our_s {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 6px 16px;
  font-family: "Gantari", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.services_title {
  margin: 20px 0 40px;
  font-family: "Gantari", sans-serif;
}

.service_card {
  padding: 20px;
  margin: 20px;
}

.item_card {
  background: #fff;
  margin: 10%;
  gap: 10px;
  /* background-color: aqua; */
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 280px;
  height: 250px;
}

.logo img {
  width: 48px;
  height: 48px;
}

.service_content {
  margin-top: 10%;
}

.gen {
  font-size: 20px;
  margin: 0 0 10px;
  color: #000000;
  font-weight: 600;
  text-align: start;
}

.service_p {
  font-size: 16px;
  color: #383838;
  font-weight: 400;
  font-family: "Poppins";
  text-align: start;
  width: 238px;
  height: 72px;
  line-height: 100%;
}

.explore {
  display: flex;
  margin-top: 10px;
  color: #d16751;
  text-decoration: none;
  font-weight: 500;
  text-align: start;
  font-size: 16px;
  width: 238px;
}

.explore:hover {
  /* text-decoration: underline; */
  color: #000000;
}

.arrow {
  margin-left: 5px;
  transform: rotate(-45deg);
}

/* Responsive */
@media (max-width: 768px) {
  .services_main {
    padding: 20px;
  }
}
