.pagination {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 2rem;
}

.pagination button {
  border: 1px solid #ccc;
  background: #fff;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.pagination button:hover {
  background: #eee;
}

.pagination .active {
  background: #d16751; /* your red color */
  color: white;
  border: 1px solid #d3544a;
}
