.Details_Img {
  width: 100%;
  background-image: url("../../component//Project_component/img/Details.png");
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  padding: 5rem;
  align-items: flex-start;
  color: #ffffff;
}
#Details_Head {
  font-weight: 600;
  font-size: clamp(1.8rem, 2.5vw, 3rem); /* scales with screen */
  color: #fff;
}
#Details_Para {
  font-weight: 400;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}
.Details_Main {
  margin-top: 4rem;
  margin-bottom: 4rem;
  /* align-items: center; */
  /* background-color: aqua; */
}
.Details_Main img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.Full_Details {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  text-align: center;
}
.Full_Details > div {
  background-color: #f5f5f5;
  width: 100%;
  text-align: start;
  padding: 0 1rem;
  border-radius: 10px;
}
.Full_Details > div p {
  color: #333333;
  font-family: "Poppins";
  font-weight: 600;
  /* background-color: aqua; */
}
.Full_Details > div h4 {
  color: #000000;
  font-weight: 600;
  font-size: 1.1rem;
}
#head_l {
  font-size: 2.2rem;
  font-weight: 600;
  color: #000000;
}
#para_l {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1rem;
  color: #333333;
}
#challenge {
  color: #000000;
  font-weight: 600;
  font-size: 1.5rem;
}
.two_img {
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
