.Feed_main {
  width: 100%;
  background-color: #ffffff;
  padding: 80px 0;
  text-align: center;
  /* background-color: aqua; */
  /* margin-bottom: 10%; */
}
.feedback-section {
  padding: 50px;
  text-align: center;
}
#feed_para {
  /* background-color: aqua; */
  width: fit-content;
  height: 30px;
  font-family: "Gantari";
  text-align: center;
  padding: 0px 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #000000;
  margin: 0 auto;
}
#head_para {
  font-family: "Gantari";
  font-weight: 600;
  font-size: 35px;
  line-height: 100%;
  color: #000000;
}
.feedback-cards {
  /* display: flex; */
  /* justify-content: center; */
  /* gap: 20px; */
  margin-top: 20px;
  /* background-color: yellow; */
  /* padding: 20px; */
}
.card {
  /* min-width: 90%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100%; */
  height: auto;
  flex: 1;
  border: 2px solid #999999;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  /* width: 500px; */
  min-height: 260px;
  text-align: left;
}
.card img {
  border-radius: 50%;
  /* background-color: red; */
  width: 50px;
  height: 50px;
  /* object-fit: cover; */
}
.rating {
  color: #ffd700;
  margin-top: auto;
}
.in_line {
  display: flex;
  gap: 10px;
}
.card > p {
  font-size: 14px;
}
.slick-slide {
  display: flex;
  padding: 0 10px; /* space between cards (left + right) */
  height: auto !important;
  padding: 0 10px;
  /* background-color: aqua; */
}

.slick-track {
  display: flex !important; /* keeps cards aligned evenly */
  align-items: stretch !important;
}
.slick-dots {
  bottom: -35px; /* push below cards */
}

/* Dot size */
.Feed_main.bg-light .slick-dots li button:before {
  color: #000; /* black dots */
  opacity: 0.6;
}
.Feed_main.bg-light .slick-dots li.slick-active button:before {
  color: #d16751; /* accent color */
  opacity: 1;
}
.feedback-text {
  font-size: 14px;
  margin: 15px 0;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* only 4 lines shown */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .card {
    /* background-color: azure; */
    min-height: auto;

    /* height: auto; */
  }
}
@media (max-width: 768px) {
  .card {
    padding: 1.2rem;
    /* background-color: red; */
    min-height: auto;
  }
  #head_para {
    font-size: 1.2rem;
    /* color: yellow; */
  }
  .in_line {
    display: flex;
    gap: 1px;
    /* background-color: #ffd700; */
  }
}

@media (max-width: 645px) and (min-width: 576px) {
  .card {
    padding: 1rem;
    min-height: auto;
    background-color: gold;
  }
  .feedback-cards {
    margin-top: 10px;
    background-color: #ffd700;
  }
  .slick-slide {
    padding: 0 5px;
  }
}
@media (max-width: 480px) {
  #head_para {
    font-size: 1.2rem;
  }
  .card {
    padding: 1rem;
    /* background-color: aqua; */
    /* color: #ffd700; */
    min-height: auto;
  }
}
