.latest-news {
  width: 100%;
  background-color: #fff;
  margin-bottom: 5%;
  text-align: center;
  margin: 5% 0;
  padding: 15px 110px;
}
#news {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  height: auto;
  font-family: "Gantari";
  font-weight: 500;
  font-size: 16px;
  color: #000;
  line-height: 100%;
  border-radius: 30px;
  border: 1px solid #000;
  padding: 5px 10px;
}
#news_para {
  font-family: "Gantari";
  font-weight: 600;
  font-size: 35px;
  line-height: 100%;
  color: #000;
}
.news_img {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.Transformative_Approaches img,
.Modern img,
.top img {
  width: 380px;
  height: 250px;
}
.content_news {
  font-family: "Gantari";
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #000;
  /* text-align: start; */
}
#h {
  color: #dddddd;
  /* color: aqua; */
  border: 1px solid #dddddd;
}
#state {
  /* background-color: aqua; */
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  width: 320px;
  height: auto;
  /* margin: 0; */
  margin: 0 0 10% 0;
  text-align: start;
}
.Transformative_Approaches,
.Modern,
.top {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 30px;
  height: auto;
  /* background-color: aqua; */
  /* justify-content: space-between; */
  text-align: justify;
}
/* direct child .news_img na child che 3 */
/* .news_img > div {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
} */
.news_img > div {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  /* transition: all 0.3s ease; */
  cursor: pointer;
  /* background-color: aqua; */
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); */
}
.news_img > div:first-child div:nth-child(2),
.content_news:hover {
  /* background-color: red; */
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); */
  /* transform: scale(1.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); */
}
.news_img img {
  width: 100%;
  display: block;
  transition: transform 0.5s ease;
}
/* .content_news {
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 20px;
  transform: translate(100%);  hidden below 
  transition: transform 0.4s ease-in-out;
} */
/* .news_img > div:hover .content_news {
  transform: translateY(0%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
} */
.news_img > div:hover {
  /* background-color: aqua; */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  /* width: 100%; */
}
.news_img > div:hover img {
  transform: scale(1.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

@media (max-width: 480px) {
  #news_para {
    font-size: 1.2rem;
  }
  .Transformative_Approaches img,
  .Modern img,
  .top img {
    width: 100%;
    height: auto; /* ✅ keep proportions */
    border-radius: 10px;
  }
  .Transformative_Approaches,
  .Modern,
  .top {
    flex: 1 1 300px; /* ✅ responsive box min size */
    max-width: 380px;
    border-radius: 100px;
    background-color: yellow;
    padding: 20px;
    text-align: justify;
    transition: all 0.3s ease;
  }
}
